<div class="top" [ngClass]="{'bg-top-dark': colorMode === 'dark', 'bg-top-light':colorMode === 'light'}">

  <div class="container">

    <div class="header">
      <span>TODO</span>
      <div class="switch-btn" (click)="switchMode()"></div>
    </div>

    <div class="input-field">
      <div class="circle"></div>
      <input class="inputtext" type="text"
        placeholder="Create a new todo" (keydown.enter)="addTodo($event)">
    </div>

  </div>
</div>

<div class="bottom" [ngClass]="{'bottom-bg-dark': colorMode === 'dark', 'bottom-bg-light':colorMode === 'light'}">
  <div class="container">
    <div class="todos">
      <div class="todo" *ngFor="let todo of todoList | filter : filterBy">
        <div class="circle" (click)="check(todo)" [ngClass]="{checked: todo.isDone}"></div>
        <span [ngClass]="{completed: todo.isDone}">{{todo.description}}</span>
        <div class="cross" (click)="delete(todo)"></div>

      </div>
      <div class="content-footer">
        <span class="summary">{{todoList | filter  : "active" | length}} items left</span>
        <div class="filter">
      
          <span [ngClass]="{'selected': filterBy==='all'}" (click)="filterBy='all'">All</span>
          <span [ngClass]="{'selected': filterBy==='active'}" (click)="filterBy='active'">Active</span>
          <span [ngClass]="{'selected': filterBy==='completed'}" (click)="filterBy='completed'">Completed</span>
        </div>
        <span class="clear" (click)="clearCompleted()">Clear Completed</span>
      </div>
    </div>
  </div>
</div>